streamlit>=1.12.0
altair==4.2.2
opencv-python-headless>=4.5.5.64
pytesseract==0.3.9
Pillow --only-binary=:all:
numpy
PyMuPDF
pdf2image
sqlite3

# YOLO
torch
torchvision
ultralytics  
sentencepiece
transformers
