streamlit==1.28.0
altair==4.2.2
opencv-python==4.9.0.80
pytesseract==0.3.10
Pillow==10.1.0
numpy==1.26.4
PyMuPDF==1.23.25
torch==2.2.1
torchvision==0.17.1
ultralytics==8.0.196
transformers==4.36.0
huggingface-hub==0.20.3

langchain==0.1.17
langchain-community==0.0.36
langchain-core==0.1.38

pandas==2.2.1
scikit-image==0.22.0
tqdm==4.66.2
